@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    
   
}

.container{
    background: url(assets/back.svg);
    display: flex;
    align-items: center;
    flex-direction: column;
   
    height: 300px;
    
    justify-items: center;

    
    row-gap: 70px;

}
.search-box {
    display: flex;
    background: #fff;
    
    border-radius: 10px;
    height: 50px;
    box-shadow: 0px 3px 2px 1px #eee;
    
  }
.search-button{
    background: url(assets/search-solid.svg) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 20px 20px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    opacity: 40%;
    border-radius: 10px 0px 0px 10px;
    background-position: center;
    padding: 0;
    border: none;
    outline: none;

}
.search-button-span{

}

.search-input{
    border: none;
    width:650px;
    font-size: 18px;
    border-right: 1px solid #ccc;
    /* height: 50px; */
    color: #ccc;
    outline: none;
}
.heading{
    text-align: center;
position: relative;
top: 40px;
font-size: 30px;
opacity: 80%;
}

.search-bar-buttons{
    
    cursor: pointer;
    display: inline-block;
    height:50px;
    width: 40px;
    opacity: 30%;
    border: none;
}
.search-button{
        background: url(assets/search-solid.svg) no-repeat;
        background-size: 17px 17px;
        background-position: center;
        
       
    }

.reset-button{
    background: url(assets/times-solid.svg) no-repeat;
    background-size: 17px 17px;
    background-position: center; 
    
}

.search-results{
    position: relative;
    top: 100px;
    width: 1300px;
}
.results-tab{

    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #f8f9fa;
    height: 70px;
    
    
}

.results-tab button{
    background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  height: 70px;
  color: #6d6d6d;
}

.results-tab button:hover{
    background-color: #ccc;
}

.results-tab button.active {
    background-color: #ccc;
  }

.tab-content {
    display: none;
    padding: 6px 12px;
    
  }