.lemon {
    border-collapse: collapse;

    margin-left: 25vw;
    font-size: 0.9em;
    font-family: Verdana, Tahoma, sans-serif;
    min-width: 50vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.lemon tr {
    background-color: #f3f3f3;
    color: #009879;
    text-align: left;
    border: thin solid #009879;
    text-align: center;
}

.lemon  tr:nth-of-type(even) {
    background-color: #00987a65;
    color: #ffffff;
    text-align: center;
}



.lemon  td.active-assign {
    background-color: #04614e88;
    color: #ffffff;
    text-align: center;
}

table td + td { border-left:thin solid #009879 }

.lemon th,
.lemon td {
    padding: 12px 15px;
}