<div class='d-flex bd-highlight align-items-center' id='nav-bar'>
    <div class='px-3 w-75 ' id='title'>
        Stock Search
    </div>
    <div class='w-50 d-flex justify-content-end' id='tabs' [@.disabled]="true">
        <!-- <mat-tab-group class='tabs bg-transparent'>
            <mat-tab class='tab-style' style="color:'white" label="Search" routerLink='/search'> </mat-tab>
            <mat-tab class='tab-style' label="Watchlist" routerLink='/watchlist'>  </mat-tab>
            <mat-tab class='tab-style' label="Portfolio" routerLink='/portfolio'>  </mat-tab>
          </mat-tab-group> -->

          <nav mat-tab-nav-bar class='d-flex justify-content-end'id='tabs' [@.disabled]="true">
            <a class='tab-style' id='links' mat-tab-link routerLinkActive="active-link"
            *ngFor="let link of links"
            [routerLink]="link"> {{link}} </a>
          </nav>

    </div>
</div>
