<div id='title'>
    
    stock search
    </h1>   
</div>
<div id='search-form'>

    <!-- <input id="search-input" (keyup)='autocompleteSearch(searchInput.value)' #searchInput type='text' > -->
    


    <form class='search-form'>
        <input type="text" matInput [matAutocomplete]="auto"  (keyup)='autocompleteSearch(searchInput.value)' (keyup.enter)='searchSubmit(searchInput.value)' #searchInput>
        <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let company of autocompleteResult" [value]='company'>
                {{company.displaySymbol}}
                <span>{{ company.displaySymbol }}</span> |
          <small>  {{company.description}}</small>
            </mat-option>
        </mat-autocomplete>
        <button (click)='searchSubmit(searchInput.value)'>Submit</button>
        <button (click)='searchClear()'>Clear</button>
    </form>

</div>