<div class='container'>
  <div class='h1'>
    My Watchlist
  </div>
  <div class='body'>
    <ngb-alert *ngIf='watchlistEmpty' id='no-ticker-alert' [dismissible]="false">
      Currently you don't have any stock in your watchlist
    </ngb-alert>

    <div id='watchlist-card' class='d-flex ' *ngFor="let company of watchlistData">
      <mat-card class='w-100 d-flex align-items-center mat-elevation-z0 outline' (click)='searchTicker(company.ticker)'>
        <button type='button' class='btn-close' aria-label='Close' (click)='delete(company.ticker)'>

        </button>
        <mat-card-content id='news-title' class=' ml-3'>
          <div>
            {{company.ticker}}
          </div>
          <div>
            {{company.name}}
          </div>
        </mat-card-content>

        <mat-card-content id='quote-details' class='d-flex flex-column ml-1 align-items-end font-weight-bold'>

          <div class='d-flex flex-column  align-items-end'
            [ngStyle]="{'color': company.quote.dp < 0 ? '#ea3323': '#367b21'}">
            <div class='h2'>{{company.quote.l}}</div>
            <div class='h4'>
              <div id='stock-values'>
                <fa-icon *ngIf="company.quote.dp > 0" [icon]='faCaretUp' [styles]="{color: '#367b21'}"></fa-icon>
                <fa-icon *ngIf="company.quote.dp < 0" [icon]='faCaretDown' [styles]="{color: '#ea3323'}"></fa-icon>
                {{company.quote.d}}
                ({{company.quote.dp}}%)

              </div>
            </div>
          </div>



        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
