<p>company works!</p>
<button (click)="clickEvent('button clicked')">basic</button><br>
<input type='text' #box (blur)="clickEvent('blur event')" placeholder="Enter text"><br>
<input type='text' #box (keyup.enter)="clickEvent(box.value)" placeholder="Enter text"><br>
<h2 (mouseover)="getValue('mouse over')" style='background-color: aqua;'>
    Mouse Event
</h2><br>
<input type='text' #box2 (keyup)="getValue(box2.value)" placeholder="Enter text"><br>
<h2>
    {{currentVal}}
</h2>

<!-- proporty binding -->

<input type='text' [disabled]=disabledBox [value]=name/><br>
<input type='text' disabled value={{name}}/><br>
<button (click)="enableTextbox()">Enable txtbx</button>
<br><br>

<h2 *ngIf="show then ifBlock else elseBlock">
    
</h2>

<ng-template #ifBlock>
    <h2>
        If Block
    </h2>
</ng-template>
<ng-template #elseBlock>
    <h2>
        Else Block
    </h2>
</ng-template>

