.lemon {
    border-collapse: collapse;
    /* border: 1px solid #044e3f; */
    position: relative;
    top: 200px;
    /* left: 200px; */
    margin-left: 15vw;
    font-size: 0.9em;
    font-family: Verdana, Tahoma, sans-serif;
    min-width: 50vw;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
    
    text-align: center;
}

.lemon tr {
    /* */
    background-color: #f3f3f3;
    color: #009879;
    text-align: left;
    border: thin solid #009879;
    border-radius: 20px;
    text-align: center;
}

.lemon  tr:nth-of-type(even) {
    background-color: #00987a65;
    color: #ffffff;
    text-align: center;
}

/* unvisited link */
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
a:link {
    color: #0679a7af;
  }
  
  /* visited link */
  a:visited {
    color: rgb(116, 36, 170);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(51, 129, 64);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 68, 146);
    
  }

.lemon  td.active-assign {
    background-color: #04614e88;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

table td + td { border-left:thin solid #009879 }

.lemon th,
.lemon td {
    padding: 12px 15px;
}